[Unit]
Description=Checks if archiver has finished
Requires=archive-checker.service

[Timer]
Unit=archive-checker.service
OnCalendar=*-*-* *:0/15

[Install]
WantedBy=timers.target